/* CSS HEX */
:root {
    --rich-black-fogra-39: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --ruby-red: #a4161aff;
    --carnelian: #ba181bff;
    --imperial-red: #e5383bff;
    --black-shadows: #b1a7a6ff;
    --light-gray: #d3d3d3ff;
    --cultured: #f5f3f4ff;
    --white: #ffffffff;
}

body {
    background: var(--eerie-black);
    font-family: 'Montserrat', sans-serif;
}

.name {
    color: var(--blood-red);
}

.photo {
    border: #f5f3f4ff solid 1px;
    box-sizing: content-box;
}

.about {
    background-color: var(--cultured);
    padding: 5px;
}